body{
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #ffffff00;
  overflow-x: hidden;
}

p{
    width: 100%;
    text-indent: 50px;
    letter-spacing: .7px;
    word-spacing: 4px;
    line-height: 26px;
}

a {
    font-size: 25px;
    line-height: normal;
    padding: 15px;
    color: white;
    text-decoration: none;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: justify;
}

@media screen and (max-width:600px){
    body{
        width:fit-content;
    }
}