body {
  font-family: Montserrat,sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #fffbf5;
  overflow-x: hidden;
}

p {
  width: 100%;
    text-indent: 50px;
    letter-spacing: .7px;
    word-spacing: 4px;
    line-height: 26px;
}

a {
    font-size: 30px;
    line-height: normal;
    padding: 15px;
    color: white;
    text-decoration: none;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: justify;
}
