.footer{
    width: 100%;
    height: 100%;
    background-color: #000000c2;
    color:'white';

    ul{
      padding: 20px;
      margin-bottom:0;
      li{
        padding:15px;
      }
    }
  }
  
