@import "./_default.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
.scroll {
    background-color: rgba(0,0,0,.72);
    box-shadow: 0 0.5em 1.5em rgba(0,0,0,.3);
    position: fixed;
    display: block;
    width: 100%;
    height: 75px;
    top: 0;
    font-family: 'Lato', sans-serif;
    z-index: 100;
    transition: background-color 1s ease 0s,height 1s ease 0s;


    nav{
      position: relative;
      top: 70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      right: 0;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
      
     ul,li{
      margin: 0;
      padding: 0;
     }
     
     ul{
       li{
         a{
          text-decoration: none;
          font-size: 25px;
          line-height: normal;
          padding: 15px;
          color: #fff;
         }
         a::after{
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #ffd9a8;
          transition: width .3s ;
         }
         a:hover::after{
          width: 100%;
         }
         a:hover{
          transition: .4s ease-in-out;
          color:#ffd9a8;
         }
       }
     }

     i{
      position: relative;
      bottom: 20px;
      right: 158px;
     }

    }
}

