
.container-home{
    display: flex;
    flex-wrap: wrap;
    height: -webkit-fill-available;
    height: 100%;
    justify-content: center;
    align-items: center;
    .covid-information{
        color: black;
        background: pink;
        z-index: 200;
        top: 0;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        font-size: 28px;
        text-align: center;
        justify-content: center;
        font-family: monospace;
        padding:20px;
        transition: 3s ease-in-out;
        flex-direction: column;
        p{
            width: 50%;
        }
        button{
           font-size: 25px;
            bottom: 19px;
            padding:20px;
            width:150px;
            color: white;
            background: black;
            border: none;
        }
    }
    .toggled{
        display: none;
    }

    .box-2{
      display: flex;
      width: 100%;
      margin: 0;
      order:0;
      background-image: url('../../assets/images/cerezo2.png');
      background-size: cover;
      background-position: center;
      height: 667px;
      justify-content: center;
      align-items: center;
      text-align: center;
        .content-2{
            
            .cuadro {
                font-family: 'canvas-bold';
                width: fit-content;
                margin: auto;
                box-shadow: inset 0px 0px 0px 1px, inset 0px 0px 0px 1px;
                font-size: 43px;
                position: relative;
                letter-spacing: 50px;
                text-align: left;
                padding: 8px;
                h3{
                    margin-bottom: auto;
                }
                img{
                    width: 132px;
                    height: fit-content;
                }
                 p{
                    margin: 25px 0;
                    padding: 10px;
                 }
                 
            }
            .wellcome{
                position: relative;
                top: 30px;
                 h2{
                    font-size: 37px;
                    letter-spacing: 8px;
                    font-weight: 100;
                    margin: 0;
                    position: relative;
                    bottom: 6px;
                 }
            }
        }
    }

    .box-3{
        width: 90%;
        order: 2;
        display: flex;
        align-items: center;
        .content-3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .title{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 letter-spacing: 11px;
                h2{
                    
                    font-weight: 100;
                    font-size: 100px;
                    margin: 0;
                }
                
            }
            .nosotros-text-container{
                text-align: left;
                width: 88%;
                p{
                    
                    letter-spacing: 4px;
                    line-height: 2;
                    font-size: 15px;
                    margin-left: 10px;
                    position: relative;
                    left: 5%;
                    font-family: monospace;
                }
            }
        }
    }
}

@media screen and (min-width:1100px){
    .container-home{
        overflow-y: hidden;
        .box-1,.box-2,.box-3{
            margin: auto 0 auto 0;
        }
        
        .box-1{
            width: 8%;
            .page{
                bottom: 23px;
            }
        }

         .box-2{      
            width: 59%;
            height: 563px;
            margin: 31px 0 0 0;
            order:1;
              .content-2{
                position: relative;
                left: 49px;
                  .cuadro{
                      display: flex;
                      flex-direction: column;
                      font-size: 50px;
                      padding: 20px;
                      .A{
                        margin: 0;
                        color: transparent;
                        -webkit-text-stroke: 1px #404040;
                        font-size: 160px;
                        line-height: 0.7;
                      }
                  }
                  .wellcome{
                    top: 24px;
                       h2{
                          font-size: 37px;
                          letter-spacing: 8px;
                          font-weight: 100;
                       }
                  }
              }
          }

          .box-3{
            width: 33%;
            height: 563px;
            margin: 31px 0 0 0;
            .content-3{
                .nosotros-text-container{
                    margin: 0 39px;
                    p{
                        &::before{
                         
                            right: 50%;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px){
    .container-home{

        .box-2{
            .content-2{
                .cuadro{
                    font-size: 9vw;
                    letter-spacing: 38px;
                    left: 6%;
                }
                .wellcome{
                    left: 6%;
                }
            }
        }
        .box-3{
            p{
                &::before{
                    right: auto;
                }
            }
        }
    }
    
}