.container-reglamento{
    display: flex;
    flex-wrap: wrap;
    height: -webkit-fill-available;

    .box-1{
        width: 10%;
        z-index: 2;
        order: 0;
        position: fixed;
        display: flex;
        align-items: center;
        height: -webkit-fill-available;
        justify-content: center; 
        background-color: white;
        &::after{
            content:'';
            height: 90%;
            border-right: 1px solid black;
            position: absolute;
            z-index: 1;
         }    

        p{
            margin: 0 auto 0 auto;
            z-index: 3;
            background-color: white;
            font-size: 50px;
            
        }

        .page{
            position: absolute;
            font-size: 20px;
            bottom: 0;
        }
    }

    .box-2{
        display: none;
    }

    .box-3{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
           
        .content-container {
            width: 80%;
            margin: 13px auto;
            margin-bottom: 11px;
            background-color: #ffffff7d;
            .title{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80px;
                margin-top: 80px;
                h2{
                  font-size: 100px;
                  
                }
                p{
                    letter-spacing: 11px;
                    font-size: 15px;
                }
            }
            .reglamento{
                padding: 0 20px;
                & div > p {
                    text-align: left;
                    letter-spacing: 4px;
                    font-size: 13.5px;
                    line-height: 2;
                    text-indent: 50px;
                    font-family: monospace;
                }
                & div > h2{
                    letter-spacing: 6px;
                    &::first-letter{
                        font-size: 50px;
                    }
                }
            }
        }
    }
    .hojas{
        position: fixed;
        right: -214px;
        width: 447px;
        top: 72px;
        opacity: 0.4;
        filter: brightness(0.5);    
    }
}

@media screen and (min-width:1100px){
    .container-reglamento{
       
    
        .box-1{
            width: 8%;
            .page{
                bottom: 23px;
            }
        }
    
        .box-2{
            width: 50%;
            height: 90%;
            display: inline-block;
            top: 31px;
            position: fixed;
            z-index: 1;

           .container{
                position: relative;
                width: 100%;
                z-index: 3;
                 .image{
                    display: block;
                    width: 100%;
                    height: auto;
                 }
                .overlay{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #00000042;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    transition: .5s ease;
                    animation-name: overlay;
                    animation-duration: 2.5s;  
                    animation-fill-mode: forwards;
              
                    .overlay-text{
                        color: white;
                        letter-spacing: 4px;
                        font-size: 15px;
                        position: absolute;
                        width: 83%;
                        top: 40%;
                        left: 59%;
                        padding: 0 20px;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        
                       
                        & > p::before{
                            content: '';
                            width: 100px;
                            border-bottom: 1px solid white;
                            position: absolute;
                            background: white;
                            left: 34px;
                            top: 172px;
                        }
                        & > p::first-letter{
                                font-size: 160px;
                                height: 10px;
                        }
                        
                        
                    }
            
             }
          
          }
          .foot-text{
            position: relative;
            left: 33%;
            top: 20px;
            letter-spacing: 3px;
            font-size: 21px;
            display: inline-block;
            &::before{
                content: '';
                border-top: 1px solid black;
                width: 50px;
                position: absolute;
                top: 50%;
                left: -66px;
            }
              &::first-letter{
                  font-size: 65px;
              }
          }
            
        }
    
        .box-3{
            width: 50%;
            position: relative;
            left: 47%;
        }

        .hojas{
            position: fixed;
            right: -226px;
            width: 448px;
            top: 67px;
            filter: none;
        }
    }

}