form{
     display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    .input-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        input{
            width: 70%;
            height: 32px;
            margin: 15px 0px 25px 0;
            border: none;
            border-bottom: 1px solid black;
            text-align: center;
            transition: .3s ease-in-out;
            font-family: monospace;
            background-color: transparent;
            &:focus{
                transition: .3s ease-in-out;
                font-size: 17px;
            }
            &::placeholder{
                letter-spacing: 3px;
            }
           
        }
        .error{
            color: #db2269;
            font-size: 11px;
            position: absolute;
            font-family: monospace;
            background-color: #ff000017;
            z-index: -1;
        }
    }
    p{
        position: relative;
        display: inline-block;
        letter-spacing: 4px;
        text-align: left;
        margin: 0;
        font-family: monospace;
    }
    
    textarea{
        width: 70%;
        min-height: 136px;
        transition: .3s ease-in-out;
        background-color: transparent;
        &:focus{
            transition: .3s ease-in-out;
            font-size: 20px;
        }
    }
   
    
}

@media screen and (min-width:1000px){
    form{
        .input-container{
           
            input{
                width: 60%;
            }
            textarea{
                max-width: 365px;
            }
        }
    }
}

