.footer ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin-left: 10px;
    overflow: hidden;
}

.footer ul li .c-icon {
    width:  33px;
    height: 33px;
    fill: currentColor;
    transition: .2s;
}

.footer ul li .c-link--facebook:hover  { color: #3b5998 }
.footer ul li .c-link--wapp:hover      { color: #25D366 }
.footer ul li .c-link--map:hover       { color:  #dd4b39}
.footer ul li .c-link--facebook:hover::after  { background: #3b5998 }
.footer ul li .c-link--wapp:hover::after      { background: #25D366 }
.footer ul li .c-link--map:hover::after       { background:  #dd4b39 }


.footer ul li .c-link {
    position: relative;
    color: #bbb;
}

.footer ul li .c-link:not(:last-of-type) {
    margin-right: 15px;
}

.footer ul li .c-tooltip::before,
.footer ul li .c-tooltip::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: .2s;
}

.footer ul li .c-tooltip::before {
    content: '';
    bottom: calc(100% + -7px);
    border: solid 5px transparent;
    border-top-color: currentColor;
}

.footer ul li .c-tooltip::after {
    content: attr(aria-label);
    bottom: calc(100% + 3px);
    padding: .61em .93em;
    font-size: .875rem;
    color: white;
    border-radius: 3px;
}

.footer ul li .c-tooltip:hover::before,
.footer ul li .c-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%);
}
