footer{
    position: fixed;
    background-color: black;
    bottom: 34px;
    right: 0;
    transition: background-color 0.5s ease-in-out;
    border: 1px solid black;
    border-right: none;
    &:hover{
        background-color:white;
        transition: background-color 0.5s ease-in-out;
    }
    ul{
        padding: 0;
        width: 100%;

        li{
            width: 100%;
            a{
                color:white;
                padding: 20px;
                text-decoration: none;
                font-size: 20px;
                transition: color 0.5s ease-in-out;
                &:hover{
                    transition: color 0.5s ease-in-out;
                    color:black;
                }
            }
        }
    }
}