.brand{
    left: 0;
    top: 0;
    width: 10%;
    z-index: 2;
    order: 0;
    position: fixed;
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
    justify-content: center; 
    background-color: white;
    &::after{
        content:'';
        height: 90%;
        border-right: 1px solid black;
        position: absolute;
        z-index: 1;
     }    

    p{
        margin: 0 auto 0 auto;
        z-index: 3;
        background-color: white;
        font-size: 50px;
    }

    .page{
        position: absolute;
        font-size: 20px;
        bottom: 0;
        
    }
}